Source: flujconf
Section: sound 
Priority: extra
Maintainer: kev <kev@riseup.net>
Build-Depends: debhelper (>= 7), debhelper (>= 5.0.38), python-central (>= 0.6.0), cdbs(>= 0.4.49)
XS-Python-Version: >=2.4
Standards-Version: 3.8.3
Homepage: http://radio.flujos.org 

Package: flujconf
Architecture: any
Depends: ${python:Depends},
XB-Python-Version: ${python:Versions} 
Description: A configurator for darkice with some checks for related programs. 
 It is very unstable.
